/* Import Googel fonts -Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.popup{
    width: 350px;
}
/* where() and is() are the pseudo-class used for grouping selectors*/
.popup :where(.picker, header, .all-colors, .color){ /*For aligning to the same position*/
    display: flex;
    align-items: center;
}
.popup .picker{
    padding: 30px 0;
    background-color: #F0F2FF;
    justify-content: center; 
    
}
.picker #color-picker{
    
    background:linear-gradient(45deg,skyblue,#5372f0);
    box-shadow: -0 5px 15px rgba(0,0,0,0.2);
    color: white;
    cursor: pointer;
    padding: 10px 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 1rem;
}
.picker{
    background-image: url('background/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.picked-colors{
    margin: 10px 15px;
}
.picked-colors.hide{
    display: none;
}
.picked-colors header{
    justify-content: space-between;
}
.picked-colors .clear-all{
    color: red;
    cursor: pointer;
    font-size: 1rem;
}
.all-colors{
    margin: 10px 0;
    flex-wrap: wrap; 
}

/* for creating the block color inside the ul (span-1) */
.all-colors .color .rect{
    display: block;
    height: 20px;
    width: 20px;
    margin-right: 8px;
    border-radius: 5px;
}

.all-colors .color{
    cursor: pointer;
    margin-bottom: 10px;
    width: calc(100% / 3); /* to create a 3 column grid perfect*/
}

/* For the hover effecs */
.all-colors .color .value{
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: uppercase;
}
