.circle{
    height: 25px;
    width: 25px;
    border-radius: 24px;
    background-color:black;
    position: fixed; /* this totally elements the clock, hover, tap*/
    top:0;
    left:0;
    pointer-events: none;
    z-index: 99999999 /* so that it is always on top(overlaps other elements) */
}

body{
    background-color: black;
}