*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    height:100vh;
    width:100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    background: linear-gradient(45deg,#0a0a0a,#314452);
    /* the color directs from bottom-left to top-right*/
}

.calculator{
    border: 1px solid #717377;
    padding: 25px;
    border-radius: 1rem;
    background:transparent; 
    box-shadow: 0px 5px 30px rgba(113,115,119,0.5);
    margin-right: -650px;
    /*offset-x, offset-y, blur-radius, color(0.5) is opacity */
}

input{
    width: 320px;
    border: none;
    padding:24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 5px 30px rgba(84,84,84,0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: white;
}
/* :: is used for pseudo-elements */

button{
    border:none;
    width: 60px;
    height: 60px;
    margin: 10px; /* creates a space in-between them */
    border-radius: 50%;
    background: transparent;
    color:white;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.15);
    cursor: pointer;
}

.equal{
    background-color: orange;
} 
.operator{
    color: #6dee0a;
}